{% include "header.html" %}

      <div class="content">
         <div class="text">
            Welcome to my Python developer portfolio, where I harness the power of Python to craft efficient, innovative solutions. Explore my projects and see how Python fuels web development, data analysis, and machine learning. Join me in this journey through Python's versatility, where every line of code shapes a smarter, connected world.
         </div>
	<div class="text">            
         </div>
      </div>

{% include "footer.html" %}
