{% include "header.html" %}

      <div class="content">
         <div class="text">
             <h2>Blog project</h2>
            Course capstone project.
             <ul><a class="button-projects" href="https://github.com/emirali101/flask-blog">Read more</a></ul>
         </div>
          <div class="text">
             <h2>Linkedin Job applications</h2>
            Automate job applications on linkedin with selenium.
             <ul><a class="button-projects" href="https://github.com/emirali101/short-tasks/blob/main/Linkedin%20job%20applications%20automate">Read more</a></ul>
         </div>
          <div class="text">
             <h2>Tasks</h2>
            Short tasks in python.
             <ul><a class="button-projects" href="https://github.com/emirali101/short-tasks">Read more</a></ul>
         </div>
	<div class="text">            
         </div>
      </div>

{% include "footer.html" %}
